<h1>User Ranking</h1>

<table class="table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Score</th>
      <th>Nick</th>
    </tr>
  </thead>
  <tbody>
  <% rank = 0 %>
  <% @users.each do |user| %>
    <% rank = rank + 1 %>
    <tr>
      <td><%= rank %></td>
      <td><%= user.score %></td>
      <td><%= link_to user.nick, user %></td>
    </tr>
  <% end %>
  </tbody>
</table>