<% if user_signed_in? %>

    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p class="lead">Hi <%= current_user.nick %>! Welcome back!</p>
    </div>

    <hr>

    <div class="row-fluid">
        <div class="span12">
            We have a bunch of interesting topics below! Klick on a topic to view and add new questions.
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 topiclist">

            <% @topics.each do |topic| %>
                <%= link_to topic.name, topic, :class => 'btn btn-large btn-info' %>
            <% end %>
        </div>
    </div>

    <div class="row-fluid paddingTop">
        <div class="span12">
            <%= link_to new_topic_path, :class => 'btn btn-success' do %>
                <i class="icon-edit icon-white"></i> Add a New Topic
            <% end %>
        </div>
    </div>

<% else %>
    <div class="jumbotron">
        <h1>Super awesome marketing speak!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <%= link_to 'Login with Facebook', '/auth/facebook/', :class => 'btn btn-large btn-success' %>
    </div>

    <hr>

    <div class="span12">

    </div>
<% end %>