/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

.paddingTop {
    padding-top: 1em;
}

.hidden {
    display: none;
}

.alert.alert-error > ul.error-list {
  margin-bottom: 0px;
}

.question-answer-form .form-inline .control-group,
.question-answer-form .form-inline fieldset,
.question-answer-form .form-inline .controls {
    display: inline-block;
}

.question-answer-form .form-inline .form-actions {
    display: inline;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.question-answer-form .form-inline label {
    display: none;
}

.topic-question-form  .form-horizontal .form-actions {
    padding-top: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.rating-form {
    display: inline-block;
}

.rating-form form {
    margin:  0;
    display: inline-block;
}

.rating-form .control-group {
    display:       inline-block;
    margin-right:  0;
    margin-bottom: 0;
}
.rating-form .control-group > label,
.rating-form .control-group.hidden {
    display: none;
}
.rating-form .control-group .controls {
    display:     inline-block;
    vertical-align: bottom;
}
.rating-form .control-group .controls div {
    display: inline-block;
}

.rating-form .control-group .controls label {
    float:       left;
    width:       20px;
    height:      20px;
    min-height:  auto;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

.rating-form .control-group .controls input {
    color:   transparent;
    display: none;
}

.rating-form .form-actions {
    display: none;
}
.rating-form .control-group .hidden {
    display: none;
}

form.answer {
    margin: 0;
}

.topiclist a {
    margin-bottom: 10px;
}

// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#crossword {
    text-align:center;
}

.crossword {
    border-collapse:collapse;
    font-family:"Courier New", Courier, monospace;
    margin-left:auto;
    margin-right:auto;
    clear:both;
    margin-top:10px;
    margin-bottom:10px;
}

.crossword td {
    border:1px solid black;
    padding:0;
    margin:0;
    vertical-align:middle;
    padding:0;
    text-align:center;
    width:30px;
    height:30px;
}

.crossword .no-border {
    border:none;
}

#clues {
    margin:auto;
}

#clues td {
    vertical-align:top;
}